@page
@model UsersModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Woodward Payment App Users</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    User ID
                </th>
                <th>
                    User Name
                </th>
                <th>
                    User Age
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: Display the data from the Users collection -->
            
        </tbody>
    </table>
</div>